// ACCORDION.SCSS
/* Styles associated with various accordion instances */


.accordion {
    // DEFAULT SHARED STYLES
    border-bottom: 1px solid $silver-grey;
    padding-left: 0;

    li  {
        border-top: 1px solid $silver-grey;
        list-style-type: none;
        padding: 15px 8px 5px;
        position: relative;

        a {
            color: $dark-grey;
            font-weight: 300;

            h4 {
                float: left;
                font-family: $seravek;
                font-weight: 400;
                min-height: 20px;
            }
            .expand {
                @include round(10px);
                background-color: $wolf-grey;
                color: $white;
                display: block;
                float: right;
                font-size: 24px;
                font-family: $entypo;
                height: 14px;
                line-height: 0.65em;
                text-align: center;
                width: 14px;
            }
            .content {
                transition: max-height, 200ms ease;
                -moz-transition: max-height, 200ms ease;
                -webkit-transition: max-height, 200ms ease;
                max-height: 0;
                overflow: hidden;
                padding-left: 35px;
            }
        }
    }


    // STATIC VARIATION
    &.static {

        li {

            h4 {
                background-image: url(#{$img}checkmark-not-selectable.png);
                background-repeat: no-repeat;
                background-size: 20px auto;
                color: $alpine-green;
                font-size: 18px;
                padding-left: 35px;
            }
        }
    }


    // CHECKBOX VARIATION
    &.checkbox {

        li {
            transition: all, 100ms linear;
            -moz-transition: all, 100ms linear;
            -webkit-transition: all, 100ms linear;
            max-height: 2500px;

            &:hover {
                background-color: $cloud-grey;
            }
            &.fade {
                border: 0;
                max-height: 0;
                overflow: hidden;
                padding-top: 0;
                padding-bottom: 0;
            }

            input[type="checkbox"] {
                display: none;

                + label {
                    display: inline-block;
                    float: left;
                    height: 100%;
                    width: 35px;

                    span {
                        @include round(15px);
                        background-color: $light-grey;
                        border: 1px solid $silver-grey;
                        height: 20px;
                        width: 20px;

                        &:before {
                            color: $silver-grey;
                            content: '✓';
                            display: none;
                            font-family: $entypo;
                            font-size: 24px;
                            left: auto;
                            line-height: 0.8em;
                            position: relative;
                            text-align: center;
                        }
                    }
                }

                &:hover + label span {

                    &:before {
                        display: block;
                    }
                }

                &:checked + label {

                    span {
                        background-color: $emerald-green;
                        border-color: $emerald-green;

                        &:before {
                            color: $white;
                            display: block;
                        }
                    }
                }
            }
            h4 {
                font-size: 15px;
                margin-top: 5px;
            }
            .expand {
                margin-top: 5px;
            }
        }
    }
}







// DESKTOP ADJUSTMENTS
@media ( min-width: $breakpoint-b ) {
    .accordion {
        // DEFAULT SHARED STYLES

        // STATIC VARIATION

        // CHECKBOX VARIATION
    }
}
